.vertical-timeline-element-content p.job-description {
    font-weight: normal; /* Remove boldness */
  }

.vertical-timeline-element-title{
    font-weight: 500;
}
.vertical-timeline-element-subtitle{
    font-weight: 400;
}

.button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: black;
  }