.vertical-timeline-element-content p.job-description {
    font-weight: normal; /* Remove boldness */
    font-size: 13px !important;
  }

.vertical-timeline-element-title{
    font-weight: 500;
}
.vertical-timeline-element-subtitle{
    font-weight: 400;
}
.vertical-timeline-element-date{
  padding-left: 10px !important;
}

.vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date{
  padding-right: 10px !important;
}


.button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: black;
  }